{% extends 'base.html' %}

{% block menu %}

    <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add/project">Add Project</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tasks">Tasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add/task">Add Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tasks/completed">Completed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}